html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
p,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*normalize css */
/*begin general css */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a,
button,
input,
textarea,
.js-svg {
  -webkit-transition: background 0.2s, border 0.2s, color 0.2s;
  transition: background 0.2s, border 0.2s, color 0.2s;
}
body {
  font-family: 'CeraPro', Arial, Helvetica, sans-serif;
  color: #333;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot');
  src: local('☺'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('☺'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: Gilroy;
  font-size: 16px;
}
.container {
  width: 1350px;
  margin: auto;
}
.page {
  padding: 100px 0;
}
/* header css start */
header {
  padding: 20px 0;
  background-color: #fff0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 90;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_ul li:not(:last-child) {
  margin-right: 50px;
}
.tel {
  font-weight: bold;
  font-size: 1em;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.whats {
  background-image: url(../img/whats.svg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.whats:hover {
  background-image: url(../img/whats_hover.svg);
}
.tel:hover {
  color: #7a91bb;
}
/* header css end */
/* main  css  start*/
.main {
  height: 100vh;
  overflow: hidden;
}
.main_vh {
  height: 100%;
  background-color: #bed2e8;
}
.main_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
}
.main_blog {
  margin-right: 50px;
}
:root {
  --chame-color: #9ee798;
  --chame-color-eyes: #9ee798;
}
.main_unit {
  height: 400px;
  width: 50%;
  /*     background-color: rgba(255, 255, 255, 1);
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto; */
}
.main_unit img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
.subtitle {
  font-weight: bold;
  font-size: 2.8em;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
  margin-top: 8px;
  margin-bottom: 50px;
}
.title {
  font-weight: bold;
  font-size: 1em;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  z-index: 1;
}
.title::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -2px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #7a91bb;
}
.get_wrapper:hover,
.contact_wrap_btn {
  background: #c7bebe;
  /*     color: #050801;
      box-shadow: 0 0 5px #333333,
                  0 0 25px #333333,
                  0 0 50px #333333,
                  0 0 200px #333333;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005); */
}
.get_wrapper:nth-child(1),
.contact_wrap_btn:nth-child(1) {
  -webkit-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}
.get_wrapper:nth-child(2),
.contact_wrap_btn:nth-child(2) {
  -webkit-filter: hue-rotate(110deg);
  filter: hue-rotate(110deg);
}
.get_wrapper span,
.contact_wrap_btn span {
  position: absolute;
  display: block;
}
header.header.hide {
  background-color: #bed2e8;
  -webkit-box-shadow: 0 0 1px #a5a5a5;
          box-shadow: 0 0 1px #a5a5a5;
}
.get_wrapper span:nth-child(1),
.contact_wrap_btn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#333333));
  background: linear-gradient(90deg, transparent, #333333);
  -webkit-animation: animate1 1s linear infinite;
  animation: animate1 1s linear infinite;
}
@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.get_wrapper span:nth-child(2),
.contact_wrap_btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#333333));
  background: linear-gradient(180deg, transparent, #333333);
  -webkit-animation: animate2 1s linear infinite;
  animation: animate2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.get_wrapper span:nth-child(3),
.contact_wrap_btn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#333333));
  background: linear-gradient(270deg, transparent, #333333);
  -webkit-animation: animate3 1s linear infinite;
  animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.get_wrapper span:nth-child(4),
.contact_wrap_btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#333333));
  background: linear-gradient(360deg, transparent, #333333);
  -webkit-animation: animate4 1s linear infinite;
  animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* .get:hover{
      background-color: #d49f44;  
  } */
.get_wrapper {
  display: table;
  padding: 6px;
  background: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.get_wrapper a {
  padding: 16px 60px;
  background-color: #bb7aa4;
  display: inline-block;
  z-index: 1;
  outline: none;
  border: 1px solid #bb7aa4;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.get_wrapper.get_wrapper_no {
  background-color: #fff0;
  margin-left: 10px;
}
.get_wrapper.get_wrapper_no a {
  background-color: #fff0;
  border: 1px solid #fff0;
}
.get_wrapper.get_wrapper_no span:nth-child(1) {
  -webkit-animation: animate1 1.2s linear infinite;
          animation: animate1 1.2s linear infinite;
}
.get_wrapper.get_wrapper_no span:nth-child(2) {
  -webkit-animation: animate1 1.4s linear infinite;
          animation: animate1 1.4s linear infinite;
}
.get_wrapper.get_wrapper_no span:nth-child(3) {
  -webkit-animation: animate1 1.2s linear infinite;
          animation: animate1 1.2s linear infinite;
}
.get_wrapper.get_wrapper_no span:nth-child(4) {
  -webkit-animation: animate1 1.2s linear infinite;
          animation: animate1 1.2s linear infinite;
}
.get_wrapper.get_wrapper_no a:hover {
  /* background-color: #333; */
  background-color: #fff;
  color: #333;
}
/* main  css  end*/
/* about css start */
.about_blog {
  width: 42%;
  margin-right: 40px;
  height: 400px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about_blog img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
.about_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#works .dfjcc .sub_bef::before {
  left: 34%;
}
.sub_bef {
  position: relative;
}
.sub_bef::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 4px;
  width: 80px;
  background-color: #7a91bb;
}
.ab_text {
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
  margin-top: 25px;
}
.ab_text p:not(:first-child) {
  margin-top: 7px;
}
/* about css end */
/* my skills and experience css start */
.light {
  background-color: #bed2e8;
}
.dfjcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dfjcc .sub_bef::before {
  bottom: -10px;
  left: 40%;
}
.title.exp::before {
  top: -5px;
  width: 29px;
  height: 29px;
}
.skills_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.skills_blog_title {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
  padding-left: 35px;
  position: relative;
}
.skills_blog_title::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: #7a91bb;
  border-radius: 100%;
  left: -7px;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.skills_unit_li {
  position: relative;
}
.skills_unit_li::before {
  content: "";
  position: absolute;
  width: 0.5px;
  height: calc(100% + 10px);
  left: 0px;
  top: -12px;
  background-color: #000000;
}
.skills_unit_head {
  padding: 45px 0 0 100px;
}
.skills_unit_icon {
  position: absolute;
  left: 45px;
  top: 55px;
}
.skills_unit_icon::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: -5px;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #7a91bb;
}
.skills_unit_icon img {
  position: absolute;
  left: 17px;
  top: 5px;
}
.skills_unit_title {
  font-weight: bold;
  font-size: 1em;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
}
.skills_unit_subtitle {
  font-weight: 300;
  font-size: 1em;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
  margin-top: 5px;
}
.skills_unit_item {
  position: relative;
}
.skills_unit_item::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: #000000;
  top: 68px;
}
.skills_unit_body {
  margin-top: 15px;
}
/* my skills and experience css end */
/* What do I use in my work css start */
.card_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 30px 23% 30px 23% 30px 23%;
  grid-template-columns: repeat(4, 23%);
  grid-gap: 30px 30px;
}
.card_blog_img {
  width: 50px;
  height: 50px;
}
.card_blog_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card_blog_title {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
  margin-top: 10px;
}
.card_blog_subtitle {
  font-size: 1em;
  line-height: 130%;
  color: #333333;
  margin-top: 5px;
}
.card_blog {
  border: 1px solid #000;
  padding: 30px 30px;
  position: relative;
  padding-bottom: 70px;
}
.card_blog_btn {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 1em;
  line-height: 130%;
  color: #000;
  font-weight: bold;
  background: url(../img/arrow.svg) right / contain no-repeat;
  padding-right: 30px;
  background-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card_blog_btn:hover {
  text-decoration: underline;
}
/* What do I use in my work css end */
/* my works start */
.portfolio_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24.5% 10px 24.5% 10px 24.5% 10px 24.5%;
  grid-template-columns: repeat(4, 24.5%);
  grid-gap: 10px;
}
.portfolio_blog {
  display: block;
  height: 260px;
  overflow: hidden;
  border-radius: 5px;
}
.portfolio_blog img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}
.portfolio_blog img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/* my works end */
/* contacts start */
.contact_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact_unit {
  width: 48%;
  margin-right: 50px;
  height: 600px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contact_unit img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
.contact_blog {
  width: 48%;
}
.contact_blog .subtitle {
  margin-bottom: 0;
}
.icons {
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.contact_title {
  font-weight: bold;
  font-size: 1em;
  line-height: 130%;
  color: #333333;
  margin-top: 20px;
}
.contact_social .icons:not(:last-child) {
  margin-right: 14px;
}
.contact_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.contact_social .insta {
  background-image: url(../img/instagram.svg);
}
.contact_social .teleg {
  background-image: url(../img/telegram.svg);
}
.contact_social .whatsapp {
  background-image: url(../img/whats.svg);
}
.contact_social .vk {
  background-image: url(../img/vk.svg);
}
.contact_social .insta:hover {
  background-image: url(../img/instagram_hover.svg);
}
.contact_social .teleg:hover {
  background-image: url(../img/telegram_hover.svg);
}
.contact_social .whatsapp:hover {
  background-image: url(../img/whats_hover.svg);
}
.contact_social .vk:hover {
  background-image: url(../img/vk_hover.svg);
}
.contact_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact_inputs .contact_input:last-child {
  margin-right: 0;
}
form {
  margin-top: 30px;
}
.contact_input {
  position: relative;
  width: 48%;
  margin-right: 30px;
}
.contact_input label {
  position: absolute;
  font-size: 0.9em;
  background-color: #fff;
  top: -6px;
  left: 10px;
  padding: 0 10px;
  height: 17px;
}
.contact_input input {
  width: 100%;
  padding: 12px 10px;
}
.contact_textarea {
  position: relative;
  margin-top: 30px;
}
.contact_textarea textarea {
  width: 100%;
  resize: none;
}
.contact_textarea label {
  position: absolute;
  font-size: 0.9em;
  background-color: #fff;
  top: -6px;
  left: 10px;
  padding: 0 10px;
  height: 17px;
}
.contact_wrap_btn {
  overflow: hidden;
  cursor: pointer;
  display: table;
  position: relative;
  margin-top: 20px;
}
.contact_btn {
  background-color: #bed2e8;
  -webkit-box-shadow: 0px 1px 2px #000000;
          box-shadow: 0px 1px 2px #000000;
  padding: 12px 25px;
  font-weight: bold;
  font-size: 1em;
  line-height: 130%;
  color: #333333;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact_btn:hover {
  background-color: #e2e9f1;
}
form .contact_wrap_btn span:nth-child(1) {
  background: -webkit-gradient(linear, left top, right top, from(#7a91bb), to(#333333));
  background: linear-gradient(90deg, #7a91bb, #333333);
}
form .contact_wrap_btn span:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(#7a91bb), to(#333333));
  background: linear-gradient(90deg, #7a91bb, #333333);
}
form .contact_wrap_btn span:nth-child(3) {
  background: -webkit-gradient(linear, left top, right top, from(#7a91bb), to(#333333));
  background: linear-gradient(90deg, #7a91bb, #333333);
}
form .contact_wrap_btn span:nth-child(4) {
  background: -webkit-gradient(linear, left top, right top, from(#7a91bb), to(#333333));
  background: linear-gradient(90deg, #7a91bb, #333333);
}
/* contacts end */
/* burger css start */
.menu__icon {
  display: none;
}
.div {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.whats {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.header_ul {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.under_nav {
  position: absolute;
  display: none;
  right: 0%;
  top: 176%;
  padding: 10px 10px;
  width: 250px;
  max-height: 350px;
  overflow: auto;
  z-index: 5;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 9px #000000;
  box-shadow: 0 3px 9px #000000;
  color: #0F2533;
  background: #bed2e8;
}
.under_nav .header_ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: none;
}
/* burger css end */
.get_wrapper.more_wrap a {
  background-color: #85a4c6;
}
.get_wrapper.more_wrap {
  display: none;
  margin: auto;
  margin-top: 20px;
}
.port_active {
  display: block;
}
@media screen and (max-width: 1500px) {
  .container {
    width: 1200px;
  }
  .header_ul li:not(:last-child) {
    margin-right: 40px;
  }
  .subtitle {
    font-size: 2.5em;
  }
  .get_wrapper a {
    padding: 14px 55px;
  }
  .card_blog {
    padding: 25px 25px 70px 25px;
  }
  .card_blog_btn {
    left: 25px;
  }
}
@media screen and (max-width: 1350px) {
  .container {
    width: 1100px;
  }
  .tel {
    font-size: 0.9em;
  }
  .get_wrapper a {
    padding: 12px 48px;
  }
  .main_unit {
    height: 360px;
  }
  .subtitle {
    font-size: 2.2em;
  }
  .ab_text {
    margin-top: 20px;
  }
  .about_blog {
    height: 370px;
  }
  .skills_unit_title {
    font-size: 1em;
  }
  .skills_unit_subtitle {
    font-size: 0.9em;
  }
  .skills_unit_head {
    padding: 35px 0 0 90px;
  }
  .skills_unit_item::before {
    width: 35px;
    top: 53px;
  }
  .skills_unit_icon::before {
    top: -20px;
    left: -10px;
  }
  .skills_unit_icon img {
    left: 7px;
    top: -7px;
  }
  .card_blog {
    padding: 20px 20px 70px 20px;
  }
  .card_blog_subtitle {
    font-size: 0.9em;
  }
  .card_blog_title {
    font-size: 1.1em;
  }
  .card_blog_btn {
    left: 20px;
  }
  .card_blog_img {
    width: 45px;
    height: 45px;
  }
  .card_wrapper {
    grid-gap: 25px 25px;
  }
  .icons {
    width: 25px;
    height: 25px;
  }
  .contact_input input {
    padding: 10px 10px;
  }
  .contact_unit {
    height: 560px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 1000px;
  }
  .tel {
    font-size: 0.8em;
  }
  .header_ul li:not(:last-child) {
    margin-right: 30px;
  }
  .whats {
    padding-left: 25px;
    background-size: 17px;
  }
  .main_unit {
    height: 300px;
  }
  .subtitle {
    font-size: 2em;
  }
  .main_blog .subtitle {
    margin-bottom: 30px;
  }
  .main_btns {
    margin-top: 30px;
  }
  header {
    padding: 18px 0;
  }
  .get_wrapper a {
    padding: 10px 42px;
    font-size: 0.9em;
  }
  .portfolio_blog {
    height: 240px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    width: 900px;
  }
  .title {
    font-size: 0.8em;
  }
  .subtitle {
    font-size: 1.8em;
  }
  .main_blog .subtitle {
    margin-bottom: 20px;
  }
  .main_btns {
    margin-top: 20px;
  }
  .title::before {
    width: 30px;
    height: 30px;
  }
  .div {
    display: none;
  }
  .about_unit .subtitle {
    margin-bottom: 30px;
  }
  .ab_text {
    font-size: 0.9em;
  }
  .page {
    padding: 80px 0;
  }
  .skills_blog_title {
    font-size: 1.1em;
    padding-left: 25px;
  }
  .card_wrapper {
    -ms-grid-columns: 31% 25px 31% 25px 31%;
    grid-template-columns: repeat(3, 31%);
  }
  .portfolio_wrapper {
    -ms-grid-columns: 32.5% 10px 32.5% 10px 32.5%;
    grid-template-columns: repeat(3, 32.5%);
  }
  .portfolio_blog {
    height: 220px;
  }
  #works .dfjcc .sub_bef::before {
    left: 28%;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 800px;
  }
  .subtitle {
    font-size: 1.5em;
  }
  .about_blog {
    height: 340px;
  }
}
@media screen and (max-width: 880px) {
  .container {
    width: 700px;
  }
  .main_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 100px;
  }
  .main_blog {
    margin-right: 0px;
    margin-top: 20px;
    width: 70%;
  }
  .header_ul li:not(:last-child) {
    margin-right: 20px;
  }
  .main_unit {
    width: 70%;
  }
  .card_wrapper {
    -ms-grid-columns: 48% 25px 48%;
    grid-template-columns: repeat(2, 48%);
  }
  .contact_unit {
    display: none;
  }
  .contact_blog {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .container {
    width: 600px;
  }
  header {
    padding: 15px 0;
  }
  .skills_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills_wrapper .skills_blog:not(:first-child) {
    margin-top: 40px;
  }
}
@media screen and (max-width: 680px) {
  .container {
    width: 500px;
  }
  .main_unit {
    width: 100%;
  }
  .main_blog {
    width: 100%;
  }
  .menu__icon {
    display: block;
    z-index: 5;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 18px;
    margin-left: 5px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 20%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
  .menu__icon.active span {
    -webkit-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .about_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_blog {
    margin-right: 0;
    width: 90%;
    margin-bottom: 40px;
  }
  .skills_unit_subtitle {
    font-size: 0.8em;
  }
  .card_wrapper {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .portfolio_wrapper {
    -ms-grid-columns: 48.5% 10px 48.5%;
    grid-template-columns: repeat(2, 48.5%);
  }
  .portfolio_blog {
    height: 190px;
  }
  .header_ul li:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .dn {
    display: none;
  }
  .under_nav .header_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 570px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .under_nav {
    right: 20px;
  }
}
@media screen and (max-width: 500px) {
  .main_wrapper {
    padding-top: 90px;
  }
  .main_unit {
    height: 270px;
  }
  .about_blog {
    height: 300px;
    width: 100%;
  }
  .skills_unit_icon::before {
    width: 30px;
    height: 30px;
  }
  .skills_unit_icon img {
    left: 5px;
    top: -11px;
  }
  .skills_unit_head {
    padding: 25px 0 0 85px;
  }
  .portfolio_wrapper {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .portfolio_wrapper .portfolio_blog:first-child {
    display: block;
  }
  .portfolio_wrapper .portfolio_blog:nth-child(2) {
    display: block;
  }
  .portfolio_wrapper .portfolio_blog:nth-child(3) {
    display: block;
  }
  .portfolio_blog {
    height: 220px;
  }
  .contact_inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_inputs .contact_input:first-child {
    margin-bottom: 20px;
  }
  .contact_input {
    width: 100%;
    margin-right: 0px;
  }
  .get_wrapper.more_wrap {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .main_unit {
    height: 250px;
  }
  .main_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .get_wrapper.get_wrapper_no {
    margin-top: 10px;
    margin-left: 0;
  }
  #skills .subtitle {
    text-align: center;
  }
}
